/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

.btn{
    display: inline-block;
    cursor: pointer;
    border: 1px;
}
.btn.small{
    padding: 8px 13px;
    border-radius: 20px;
}
.btn.big{
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 35px;
}

.white-font{
    color: white;
}
.blue-font{
    color: #7289da;
}

hr{
    border-color: white;
}

.container-top{
    display: flex;
}

h1, h2{
    font-size: 45px;
}


.space-title{
    padding-bottom: 30px;
}

.space-paragraph{
    font-size: 17px;
    line-height: 30px;
}

.footer-text{
    color: white;
    font-size: 14px;
}

/* HEADER */
/* Head-top */
.container-header-top{
    background-color: #255ee9;
}

.container-top.flex-top{
    width: 80%;
    height: 60px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 110px;
}

.logo{
    width: 20%;
}
nav{
    width: 60%;
}
.login{
    width: 20%;
    text-align: right;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li, li a{
    padding: 0 10px;
    font-size: 15px;
    color: white;
}

.login .btn.small{
    background-color: white;
}

/* Head-Bottom */
.jumbotron-background{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.container-top.header-bot{
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-top: 30px;
}


.jumbotron-content{
    width: 50%;
    text-align: center;
}

.jumbotron-button{
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}


.jumbotron-button .btn.big{
    background-color: white;
    margin: 0 10px;
}
.jumbotron-button .btn.big.white-font{
    background-color: #23272a;
}



/* MAIN */
.container, .grey, .white{
    display: flex;
    justify-content: center;
}

.container-content{
    padding: 60px;
    width: 80%;
    display: flex;
    align-items: center;
}

/* CONTAINER WHITE */
.white{
    background-color: white;
}

/* CONTAINER GREY */
.grey{
    background-color: #f6f6f6;
}

/* CONTAINERI GREY BIG */
.grey.big{
    background-color: #f6f6f6;
}

.image{
    width: 60%;
    padding-bottom: 40px;
}  

aside{
    width: 40%;
    padding-top: 40px;
    padding-left: 20px;
}

.aside-second p.space-paragraph, .aside-third{
    padding-bottom: 100px;
}

.aside-second p.space-paragraph{
    padding-right: 20px;
}

.big-content{
    text-align: center;
}

.big-content h3{
    font-size: 25px;
    padding: 35px;
}

.big-content button{
    background-color: #7289da;
}

/* FOOTER */
/* SECTION 1 */
.black, .black-bottom{
    padding-bottom: 20px;
    background-color: #23272a;
}

.info-left, .info-right{
    height: 350px;
}

.info-left{
    width: 25%;
}

.info-right{
    width: 75%;
}

.container-info{
    display: flex;
    justify-content: space-between;
}
.info-left > span{
    font-size: 33px;
}

.region img{
    width: 20px;
    padding: 20px 0;
    vertical-align: middle;
}
.info-left .footer-text{
    vertical-align: middle;
}
.info-left i{
    vertical-align: middle;
    color: white;
    font-size: 10px;
}

.icons i{
    font-size: 20px;
    padding-right: 20px;
}

.text{
    width: calc(100% / 4);
}

li.blue-font{
    padding-left: 10px;
}
.footer-text li{
    padding-bottom: 20px;
}

.black .container-content{
    padding: 89px 0;
    border-bottom: 2px solid #2f3644;
}

/* SECTION 2 */
.container-bottom{
    padding-bottom: 40px;
    width: 80%;
    display: flex;
}

.black-bottom > .container-bottom{
    justify-content: space-between;  
}

.registration button{
    background-color: #7289da;
}

